body{
	text-align: center;
}
.checkout_div{
	display: flex;
	justify-content: center;
	align-items: center;
}

table, th, td {
  border: 1px solid;
}
table {
  width: 80%;
}

td {
  text-align: center;
}

tr:hover {
	background-color: coral;
	transition: 0.5s;
}